In [13]:
from requests import get,post,put,delete
import json
import pandas as pd

In [14]:
url = 'http://localhost:6733'
search_url = '/similarity/faiss/nn'

In [15]:
r = get(f'{url}')
print(r.text)

hello from Qnode Similarity

In [19]:
# qnode = 'Q48989064'
qnode = 'Q999895'
r = get(f'{url}/{search_url}/{qnode}')

df = pd.DataFrame(r.json())
df

,sim,qnode1,qnode1_label,qnode1_sentence,qnode2,qnode2_label,qnode2_sentence
0,594.883911,Q999895,Cytoplasmic male sterility,"Cytoplasmic male sterility, """".\n",Q979962,primitive cell,"primitive cell, minimum volume cell (a unit ce..."
1,596.418335,Q999895,Cytoplasmic male sterility,"Cytoplasmic male sterility, """".\n",Q997862,papule,"papule, circumscribed, solid elevation of skin..."
2,639.423706,Q999895,Cytoplasmic male sterility,"Cytoplasmic male sterility, """".\n",Q998803,tumor lysis syndrome,"tumor lysis syndrome, """" is syndrome.\n"
3,701.654846,Q999895,Cytoplasmic male sterility,"Cytoplasmic male sterility, """".\n",Q983078,Bald Head,"Bald Head, headland is headland.\n"