In [20]:
from requests import get,post,put,delete
import json
import pandas as pd

In [26]:
url = 'http://dsbox02.isi.edu:8888/fs'
search_url = '/similarity/faiss/nn'

In [27]:
qnode = 'Q48989064'
r = get(f'{url}/{search_url}/{qnode}')
df = pd.DataFrame(r.json())
df

,sim,qnode1,qnode1_label,qnode1_sentence,qnode2,qnode2_label,qnode2_sentence
0,239.871521,Q48989064,Instant Pot,"Instant Pot, brand of kitchen appliances is ho...",Q4306963,multicooker,"multicooker, automated cooking appliance is Mu..."
1,311.557312,Q48989064,Instant Pot,"Instant Pot, brand of kitchen appliances is ho...",Q127956,microwave oven,"microwave oven, kitchen cooking appliance is M..."
2,314.934662,Q48989064,Instant Pot,"Instant Pot, brand of kitchen appliances is ho...",Q154038,cookware and bakeware,"cookware and bakeware, types of food preparati..."
3,365.103394,Q48989064,Instant Pot,"Instant Pot, brand of kitchen appliances is ho...",Q271997,pressure cooker,"pressure cooker, cooking vessel is Pressure co..."